<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

  <div th:replace="fragments :: head_principal"></div>

</head>

<body>

    <div th:replace="fragments :: nav_error"></div>

    <p><br></p>
    <p><br></p>
    
    <div class="d-flex justify-content-center mt-6">
        <h2 class="display-4" th:text="${codigo}"></h2>
    </div>

    <div class="d-flex justify-content-center mt-3">
        <h3 class="diplay-4" th:text="${mensaje == null ? 'Intenta nuevamente' : mensaje}"></h3>
    </div>

    <div th:replace="fragments :: footer_principal"></div>

    <div th:replace="fragments :: scripts_bootstrap"></div>
</body>
</html>