<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <div th:replace="fragments :: head_principal"></div>

</head>

<body>

    <div th:replace="fragments :: nav_logueado"></div>

    <div class="container mt-5 h-100">
        <p><br /></p>
        <h3 style="color: red" th:if="${error !=null}" th:text="${error}"></h3>


        <div class="row">
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card">
                    <a th:href="@{/comentarioproducto/} +${producto.id}"><img class="card-img-top"
                            th:src="@{'data:/'+${producto.foto.mime}+';base64,'+${producto.foto.getImgData()}}" alt="#"
                            style="width: 100%; height: 250px; object-fit: scale-down;" />
                    </a>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a th:href="@{/comentarioproducto/} +${producto.id}" th:text="${producto.nombre}"></a>
                        </h4>
                        <h5>$<span th:text="${producto.precioVenta}"></span></h5>
                        <p class="card-text" th:text="${producto.descripcion}"></p>
                        <h6>Stock: <span th:text="${producto.cantidad}"></span></h6>

                    </div>
                    <div class="card-footer">
                        <form action="/agregar" method="POST">
                            <input type="hidden" name="id" th:value="${producto.id}">
                            <input type="hidden" name="idUsuario" th:value="${session.usuariosession.id}">
                            <input type="number" name="cantidad" th:max="${producto.cantidad}" placeholder="cantidad"
                                required>
                            <button type="submit" class="btn btn-primary">Agregar</button>
                        </form>
                    </div>
                    <div class="card-footer">
                        <form action="/comentar" method="POST">
                            <input type="hidden" name="idProducto" th:value="${producto.id}">
                            <input type="hidden" name="idUsuario" th:value="${session.usuariosession.id}">
                            <textarea class="form-control" rows="3" type="text" name="comentario" maxlength="250"
                                placeholder="danos tu comentario" required></textarea>
                            <button type="submit" class="btn btn-success mt-1">Comentar</button>
                        </form>
                        <div>
                            <h4>Productos similares</h4>
                            
                            <div  >
                                <div class="d-flex flex-column" style="opacity: 10">
                                    <div class="container2">
                                        <div class="" th:if="${anterior!=null}" >

                                            <div class="centered  text-capitalize text-decoration-none" >
                                                <a  th:text="${anterior.nombre}"
                                                    th:href="@{/comentarioproducto/} +${anterior.id}"
                                                    style="color: black; font: bold; text-decoration: none; font-size: larger ;">
                                                </a>    
                                            </div>
                                            <a th:href="@{/comentarioproducto/} +${anterior.id}"><img th:src="@{'data:/'+${anterior.foto.mime}+';base64,'+${anterior.foto.getImgData()}}"
                                                style="  width: 50px; height: 65px; margin-right:  250px ;  "  /></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex flex-column">
                                    <div class="container2">
                                        <div class="" th:if="${siguiente!=null}" >

                                            <div class="centered text-capitalize text-decoration-none" >
                                                <a  th:text="${siguiente.nombre}"
                                                    th:href="@{/comentarioproducto/} +${siguiente.id}"
                                                    style="color: black; font: bold; text-decoration: none; font-size: larger ;">
                                                </a>    
                                            </div>
                                            <a th:href="@{/comentarioproducto/} +${siguiente.id}"><img th:src="@{'data:/'+${siguiente.foto.mime}+';base64,'+${siguiente.foto.getImgData()}}"
                                                style="  width: 50px; height: 65px; margin-right:  250px ;  "  /></a>
                                        </div>
                                    </div>

                                </div>
                            </div>    
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4">

                <h3>COMENTARIOS</h3>

                <table class="table table-bordered">
                    <tbody th:each="comentario : ${comentarios}">
                        <tr>
                            <td><span class="font-weight-bold" th:text="${comentario.usuario.usuario}"></span>: <span
                                    class="" th:text="${comentario.comentario}"></span></td>
                        </tr>
                        <tr th:if="${session.usuariosession.id} == ${comentario.usuario.id}">
                            <td>
                                <form action="/editar" method="POST" class="mb-1">
                                    <input type="hidden" name="id" th:value="${comentario.id}">
                                    <input type="hidden" name="idUsuario" th:value="${session.usuariosession.id}">
                                    <input type="hidden" name="idProducto" th:value="${comentario.producto.id}">
                                    <textarea class="form-control mb-1" rows="3" type="text" name="comentario"
                                        maxlength="250" th:placeholder="${comentario.comentario}" required></textarea>
                                    <button type="submit" class="btn btn-primary">Modificar</button>
                                </form>
                                <form action="/borrar" method="POST">
                                    <input type="hidden" name="id" th:value="${comentario.id}">
                                    <button type="submit" class="btn btn-primary">Eliminar</button>
                                </form>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>

    </div>

    </div>
    <!-- /.row -->

    </div>
    <!-- /.col-lg-9 -->

    </div>
    <!-- /.row -->

    </div>
    <!-- /.container -->

    <!-- <div th:replace="fragments :: footer_principal"></div> -->

    <div th:replace="fragments :: scripts_bootstrap"></div>

</body>

</html>