<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <div th:replace="fragments :: head_principal"></div>

</head>

<body>

    <div th:replace="fragments :: nav_logueado"></div>

    <div class="container h-100">
        <p><br /></p>
        <p><br /></p>
        <div class="row align-items-center justify-content-center text-center mb-5 mt-5 col-lg">
            <div class="col-lg-6">
                <form action="/modificarperfil" method="POST">
                    <p th:if="${error !=null}" th:text="${error}"></p>
                    <input type="hidden" class="form-control" th:value="${session.usuariosession.id}" name="id">
                    <input type="hidden" class="form-control" th:value="${session.usuariosession.rol.toString()}"
                        name="rol">
                    <div class="form-group h5">
                        <label for="usuario">Usuario</label>
                        <input required type="text" placeholder="ingrese su nombre" class="form-control" name="usuario">
                    </div>
                    <div class="form-group h5">
                        <label for="email">Email</label>
                        <input required type="email" placeholder="ingrese su email" class="form-control" name="email">

                    </div>
                    <div class="form-group h5">
                        <label for="password">Contraseña</label>
                        <input required type="password" placeholder="ingrese su contraseña" class="form-control" name="password">
                    </div>
                    <div class="form-group">
                        <input required type="password" placeholder="repita la contraseña" class="form-control" name="repetir">
                    </div>
                    <button type="submit" class="btn btn-primary">Enviar</button>
                </form>
                <p><br /></p>
                <form action="/bajaperfil" method="POST">
                    <input type="hidden" class="form-control" th:value="${session.usuariosession.id}" name="id">
                    <button type="submit" class="btn btn-primary">Dar de baja</button>
                </form>
            </div>
        </div>
    </div>

    <!-- <div th:replace="fragments :: footer_principal"></div> -->

    <div th:replace="fragments :: scripts_bootstrap"></div>

</body>

</html>